<div class="container">
  <h1 class="my-4">
    {{ user?.name }}
    <small>{{ user?.company }}</small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">
    <!-- <div class="d-flex justify-content-center"> -->
      <div class="col-md-6 col-sm-12">
        <img *ngIf="user" class="img-fluid" [src]="user.avatar_url" alt="" />
      </div>

      <div class="col-md-4 col-sm-12">
        <h3 class="my-3">{{ user?.name }}</h3>
        <p>
          {{ user?.bio }}
        </p>
        <h3 class="my-3">User Details</h3>
        <ul>
          <li>login: {{ user?.login }}</li>
          <li>type: {{ user?.type }}</li>
          <li>github page: <a target="_blank" [href]="user?.html_url">github</a> </li>
        </ul>
      </div>
    </div>
  <!-- </div> -->
</div>
